// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


$grey: #2b2a2a;

body {
    background-color: $grey;
    color: black;
    a{
        color: black;

    }
}